<div id="contenu">
      <h2>Renseigner ma fiche de frais du mois {{nummois}}-{{numannee}}</h2>
      <form action="{{path('pg_gsb_frais_saisirfrais')}}" method="POST">
          <div class="corpsForm">
              <fieldset>
                <legend>Eléments forfaitisés</legend>
                     {% for unfrais in  lesfraisforfait %}
                         {% set idfrais = unfrais.idfrais %}
                         {% set libelle = unfrais.libelle %}
                         {% set quantite = unfrais.quantite %}
                        <p>
                            <label for="idFrais">{{libelle}}</label>
                            <input type="text" id="idFrais" name="lesFrais[{{idfrais}}]" size="10" maxlength="5" value="{{quantite}}" >
                        </p>
                      {%endfor%}
              </fieldset>
          </div>
          <div class="piedForm">
          <p>
            <input id="ok" type="submit" value="Valider" size="20" />
            <input id="annuler" type="reset" value="Effacer" size="20" />
          </p> 
          </div>
      </form>
</div>
 
      